@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1e1f26;
}

main {
  font-family: "Noto Sans JP";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  text-align: center;
  font-size: 60px;
  width: 560px;
  margin: 30px;
  color: #d0e1f9;
}

.score {
  text-align: center;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  color: #d0e1f9;
}

.reset {
  font-size: 30px;
  background-color: #1e1f26;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d0e1f9;
}

.gameFooter {
  width: 560px;
  text-align: center;
  font-size: 30px;
  color: #d0e1f9;
}

.gameHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gameBoard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  font-size: 40px;
  text-align: center;
  margin: 30px;
  height: 560px;
  width: 560px;
  background-color: #1e1f26;
  gap: 20px;
}

.cell {
  height: 125px;
  width: 125px;
  background-color: #d0e1f9;
  font-size: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cell0 {
  height: 125px;
  width: 125px;
  color: #d0e1f9;
  background-color: #d0e1f9;
}

.cell2 {
  height: 125px;
  width: 125px;
  background-color: #cbdbf1d3;
}

.cell4 {
  height: 125px;
  width: 125px;
  background-color: #aaae8e;
}

.cell8 {
  height: 125px;
  width: 125px;
  background-color: #828e82;
}

.cell16 {
  height: 125px;
  width: 125px;
  background-color: #607b7d;
}

.cell32 {
  height: 125px;
  width: 125px;
  background-color: #3a606e;
}

.cell64 {
  height: 125px;
  width: 125px;
  background-color: #156064;
}

.cell128 {
  height: 125px;
  width: 125px;
  background-color: #00c49a;
  font-size: 70px;
}

.cell256 {
  height: 125px;
  width: 125px;
  background-color: #79addc;
  font-size: 70px;
}

.cell512 {
  height: 125px;
  width: 125px;
  background-color: #ffc09f;
  font-size: 70px;
}

.cell1024 {
  height: 125px;
  width: 125px;
  background-color: #ffee93;
  font-size: 50px;
}

.cell2048 {
  height: 125px;
  width: 125px;
  background-color: #f06543;
  font-size: 50px;
}
/*# sourceMappingURL=styles.css.map */