$color-white: #d0e1f9;
$color-lightblue: #4d648d;
$color-blue: #283655;
$color-gray: #1e1f26;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

$primary-font: "Noto Sans JP", Serif;

@media only screen and (min-width: 480px) {
  main > .header {
    text-align: center;
    font-size: 45px;
    width: 480px;
  }

  main > .gameBoard {
    width: 480px;
    height: 480px;
    gap: 12.5px;
  }

  main .gameBoard > .cell {
    width: 110px;
    height: 110px;
    font-size: 50px;
  }

  main .gameFooter {
    width: 480px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $color-gray;
}

main {
  font-family: "Noto Sans JP";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.header {
  text-align: center;
  font-size: 40px;
  width: 360px;
  color: $color-white;
}

.score {
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  color: $color-white;
}

.reset {
  font-size: 30px;
  background-color: $color-gray;
  border-radius: 10px;
  align-items: center;
  color: $color-white;
  border: solid 2px $color-white;
}

.reset:hover {
  transform: scale(1.1);
}

.gameFooter {
  width: 360px;
  text-align: center;
  font-size: 15px;
  color: $color-white;
}

.gameHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 40px;
  text-align: center;
  margin: 10px;
  height: 360px;
  width: 360px;
  background-color: $color-gray;
  gap: 10px;
}

.cell {
  height: 77.5px;
  width: 77.5px;
  background-color: $color-white;
  font-size: 40px;
  text-align: center;
}

.cell0 {
  color: $color-white;
  background-color: $color-white;
}

.cell2 {
  background-color: #cbdbf1d3;
}

.cell4 {
  background-color: #aaae8e;
}

.cell8 {
  background-color: #828e82;
}

.cell16 {
  background-color: #607b7d;
}

.cell32 {
  background-color: #3a606e;
}

.cell64 {
  background-color: #156064;
}

.cell128 {
  background-color: #00c49a;
}

.cell256 {
  background-color: #79addc;
}

.cell512 {
  background-color: #ffc09f;
}
.cell1024 {
  background-color: #ffee93;
  font-size: 40px;
  text-align: center;
  justify-content: center;
}

.cell2048 {
  background-color: #f06543;
  font-size: 40px;
}
